<h2>Home Page</h2>

<ul>
    @for (item of listComments; track $index) {
        <li>{{ $index +1 }}. {{ item.body }}</li>
    }
</ul>

<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="contact">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="signal">Signal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" routerLinkActive="active" aria-disabled="true">Time Parent</a>
    </li>
</ul>

<router-outlet></router-outlet>