.image-boss {
    object-fit: cover;
    border-radius: 50%;
}

img {
    cursor: pointer;
}

.no-special {
    color: red;
}

.special {
    color: green;
}

.saveable {
    color: blue;
}

.modified {
    color: orange;
}