<h2>User Page</h2>

<div class="container">
  @if (isLoggedIn && role == "employee") {
      <p>Selamat Anda berhasil masuk sebagi employee</p>
      <img alt="photo rakyat" ngSrc="https://cdn1-production-images-kly.akamaized.net/5hr_TWQYEdTF6Ewl6OYUSBpSQwM=/640x853/smart/filters:quality(75):strip_icc():format(jpeg)/kly-media-production/medias/960017/original/2cd55f9c3a20be2deeb5a7201d69579c__Preskon_Raffi_-_Gigi___2__-_19_Agustus_2015_-_Wimbarsana.JPG">
  } @else if (isLoggedIn && role == "boss") {
      <p>The user's name is {{occupation}}</p>
      <p>Selamat datang boss, berikut circle anda:</p>
      <img (click)="sendNotify()" alt="photo boss" src="https://th.bing.com/th/id/OIP.sOlGAnJMYUIee8EiZHzH7wAAAA?rs=1&pid=ImgDetMain">
      <ul *ngIf="completed">
        @for (boss of bosses; track boss) {
          <img class="image-boss" [src]="boss.imageUrl" [alt]="boss.name" [height]="boss.imgSize" [width]="boss.imgSize">
          <li>{{ boss.name }} duit : <b>{{ boss.wealth | currency: 'Rp. ' : undefined : '1.0-0' }}</b></li>
        }
      </ul>
      
      <div *ngIf="error">
        <p>Error Stream: {{error.message| json}}</p>
      </div>
      <p>Apakah duit diatas halal?</p>
      <button [disabled]="buttonDisabled" (click)="onClickYes()">Yes</button>
      <button [ngClass]="isSpecial ? 'special' : 'no-special'" (click)="onClickNo()">No</button>

      <div [ngClass]="currentClasses">This div is initially saveable, unchanged, and special.</div>
      <button (click)="setCurrentClasses()">Set Style</button>
      <div [ngStyle]="currentStyles">
        This div is initially italic, normal weight, and extra large (24px).
      </div>
      <button (click)="setCurrentStyles()">Set Style</button>
  } @else {
      <p>Maaf boss, kamu belum login, silahkan login dulu yee!</p>
  }
</div>